
<b>Enter user's data</b><br>
<form [formGroup]="userForm" (ngSubmit)='addUser()'>

First name<input type="text" name="firstName"formControlName="firstName" /><br>  

Last name<input type="text" name="lastName"formControlName="lastName" /><br> 

Join Date<input type="date" name="joinDate" formControlName="joinDate"/><br>

Salary<input type="number" name="Salary" formControlName="salary"/><br>

<button type="submit" value="Add User" [disabled]="!this.userForm.valid">Add User</button> 

<input type="button" value="Delete" (click)="onDelete(userForm)"/>

<input type="button" value="Update" (click)="onUpdate(userForm)"/>


</form>
<b>User Details</b>
<table style="border: 3px;border-style: solid;border-color: aquamarine;">
  
  <tr><td>First Name</td><td>Last Name</td><td>Join Date</td><td>Salary</td></tr>
  <tr *ngFor="let user of userList ">
   <td>{{user.firstName}}</td><td>{{user.lastName}}</td>
   <td>{{user.joinDate}}</td><td>{{user.salary}}</td>
  </tr>
</table>
<router-outlet></router-outlet>

<router-outlet></router-outlet>
